<footer class="footer">
    <div class="footer-container">
        <div class="footer-line custom">
            <span style="color: #666;"><i class="fa-solid fa-code"></i></span>
        </div>
        <div class="footer-line copyright">
            <i class="fa-regular fa-copyright fa-fw"></i>
            <span itemprop="copyrightYear">2026</span>
            <span class="author" itemprop="copyrightHolder">
                <a href="/">xnqjns</a>
            </span>
            <span class="license">
                <a rel="license external nofollow noopener noreferrer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
            </span>
        </div>
    </div>
</footer>